app-id: org.expresslrs.ExpressLRSConfigurator
runtime: org.freedesktop.Platform
runtime-version: '25.08'
sdk: org.freedesktop.Sdk
base: org.electronjs.Electron2.BaseApp
base-version: '25.08'
sdk-extensions:
  - org.freedesktop.Sdk.Extension.node20
command: expresslrs-configurator
separate-locales: false
rename-desktop-file: expresslrs-configurator.desktop
rename-icon: expresslrs-configurator
finish-args:
  - --share=ipc
  - --socket=x11
  - --socket=pulseaudio
  - --share=network
  - --device=all
  - --filesystem=/tmp
  - --filesystem=/run/udev:ro
  - --persist=.platformio
modules:
  - name: git
    make-args:
      - INSTALL_SYMLINKS=1
      - NO_PERL=YesPlease
      - NO_TCLTK=YesPlease
    make-install-args:
      - INSTALL_SYMLINKS=1
      - NO_PERL=YesPlease
      - NO_TCLTK=YesPlease
    post-install:
      - find . -type f -name perllocal.pod -delete
    sources:
      - type: archive
        sha256: 3cd8fee86f69a949cb610fee8cd9264e6873d07fa58411f6060b3d62729ed7c5
        url: https://mirrors.edge.kernel.org/pub/software/scm/git/git-2.52.0.tar.xz
        x-checker-data:
          type: html
          url: https://mirrors.edge.kernel.org/pub/software/scm/git/
          version-pattern: git-([\d\.-]+).tar.xz
          url-template: https://mirrors.edge.kernel.org/pub/software/scm/git/git-$version.tar.xz
  - name: expresslrs-configurator
    buildsystem: simple
    build-commands:
      - ar x expresslrs-configurator_*.deb
      - rm expresslrs-configurator_*.deb
      - tar xf data.tar.xz
      - cp -r 'opt/ExpressLRS Configurator' '/app/ExpressLRS-Configurator'
      - cp -R usr/share /app
      - rm -rf /app/share/icons/hicolor/1024x1024
      - desktop-file-edit --set-key=Exec --set-value='/app/bin/expresslrs-configurator'
        /app/share/applications/expresslrs-configurator.desktop
      - install -Dm755 expresslrs-configurator.sh /app/bin/expresslrs-configurator
      - install -Dm644 org.expresslrs.ExpressLRSConfigurator.appdata.xml /app/share/metainfo/org.expresslrs.ExpressLRSConfigurator.metainfo.xml
    sources:
      - type: file
        only-arches:
          - x86_64
        url: https://github.com/ExpressLRS/ExpressLRS-Configurator/releases/download/v1.7.11/expresslrs-configurator_1.7.11_amd64.deb
        x-checker-data:
          type: anitya
          project-id: 301823
          url-template: https://github.com/ExpressLRS/ExpressLRS-Configurator/releases/download/v$version/expresslrs-configurator_${version}_amd64.deb
          is-main-source: true
        sha256: 11bb948c95077f4149b47ab22a8dd0a0d54b164ac4be7c855c84f7967a12a834
      - type: file
        path: expresslrs-configurator.sh
      - type: file
        path: org.expresslrs.ExpressLRSConfigurator.appdata.xml
